<footer>
    <h4>&copy; 2024 Greater Las Vegas Music Services</h4>
    <nav>
        <a href="/opuses">See Repertoire List</a>
        <a class="admin-link" href="/opuses/new">Add repertoire &#40Admin access only&#41</a>
    </nav>
</footer>