<footer>
    <h4>&copy; 2024 Greater Las Vegas Music Services</h4>
    <nav>
        <a href="/opuses">See Repertoire List</a>
        <a href="/client-requests/new">Make a New Request</a>
    </nav>
    <a class="admin-link" href="/opuses/new">
        <p>Add repertoire</p>
        <p>&#40Admin access only&#41</p>
    </a>
</footer>
