<footer>
    <h2>&copy; 2023 Furever Friends</h2>
    <nav>
        <ul>
            <li><a href="/opuses">See Repertoire List</a></li>
            <li><a href="/client-requests/new">Make a Request</a></li>
        </ul>
    </nav>
</footer>
