<footer>
    <h2>&copy; 2024 Greater Las Vegas Music Services</h2>
    <nav>
        <a href="/opuses">See Repertoire List</a>
        <a href="/client-requests/new">Make a New Request</a>
    </nav>
</footer>
