<header>
    <h3 class="glvms-title">Greater Las Vegas Music Services</h3>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/client-requests">All Requests</a>
    </nav>
</header>