<header>
    <h1 class="glvms-title">Greater Las Vegas Music Services</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/client-requests">My Requests</a>
    </nav>
</header>