<header>
    <h1>Greater Las Vegas Music Services</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/client-requests">My Request</a></li>
        </ul>
    </nav>
</header>