<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Error | GLVMS'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body class="error-body">
    <div class="error-msg">
        <h1>Page Not Found</h1>
        <p>Sorry, the page you're looking for cannot be found.</p>
        <p>Please check your URL for any typos and your internet connection.</p>
        <p>If the problem persists, please contact the site administrator.</p>
        <a href="/">Go back to GLVMS Home Page</a>
    </div>
    <div class="error-img">
        <img src="/assets/error-img.png">
    </div>
</body>

</html>
