<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'GLVMS | About'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="about-title">
            <h3>About the Greater Las Vegas Music Services</h3>
            <h4>&#40GLVMS&#41</h4>
        </section>
        <section class="about-bio">
            <h3>About the business owner</h3>
            <p>Jae Ahn-Benton, born in Seoul, South Korea, first studied piano at the age of 5 with Sun-Kyung Kim. He moved to Las Vegas, NV at the age of 10, and continued his piano studies with Roger Bushell, where he started to participate in local competitions, recitals, and concerts. He was featured as a young artist with the Henderson Symphony Orchestra in the years 2006, 2007, and 2010, performing concerto movements by Haydn, Mozart, and Beethoven. After graduating high school, Jae continued to pursue a college degree in piano performance with Dr. Mykola Suk at the University of Nevada, Las Vegas, performing Rachmaninov's Rhapsody on a Theme by Paganini, Op. 43 with their orchestra in 2011. Around that time, Jae also opened the collaborative piano branch of his business.</p>
            <p>As a solo pianist, Jae has given concerts for various causes, including several benefit concerts for family members from 2013 to 2023. Jae has also given a number of concerts in 2021 to benefit local chapters of nonprofit organizations, such as Project 150 and Asian Health Services.</p>
            <p>As a collaborative pianist, Jae has serviced nearly 900 individual music clients since 2010. Since 2014, he has been invited to work as a faculty pianist at the Institute for Young Dramatic Voices in Reno, NV, a program founded by renowned dramatic mezzo-soprano Dolora Zajick, where he accompanies singers on operatic repertoire by Wagner, Strauss, and Verdi. In Las Vegas, Jae frequently accompanies students and professionals of all levels and instruments, joining them for various rehearsals, lessons, classes, recording sessions, juries, auditions, competitions, recitals, and concerts. </p>
            <p>As a self-taught composer and arranger, Jae has so far written nearly 100 original compositions and 36 arrangements since the age of 10. He has recently performed his own cello sonata with cellist Jeremy Russo. Other premiered works include his 24 preludes for piano, 4 romances for violin and piano, a small opera, and a set of variations on a Theme by Maykapar, performed alongside his wife and pianist Maria Kolesnyk.</p>
        </section>
        <section class="about-how-to">
            <h3>How to use this website</h3>
            <p>As a music client, booking an event has never been more clear and straightforward! Simply click the "See Repertoire List" to browse the list of all available repertoires, which includes both solo and chamber works. Add the desired repertoire to your request by clicking on the cart button and fill in the event details. Click submit, then the information will be sent directly to the performer for confirmation. The performer will contact you directly to discuss any further details and payment information.</p>
        </section>
    </main>
    <section class="carousel">
        <div class="photo">
            <img src="/assets/music-1.jpg">
        </div>
        <div class="photo">
            <img src="/assets/music-2.jpg">
        </div>
        <div class="photo">
            <img src="/assets/music-3.jpg">
        </div>
        <div class="photo">
            <img src="/assets/music-4.jpg">
        </div>
        <div class="photo">
            <img src="/assets/music-5.jpg">
        </div>
        <div class="photo">
            <img src="/assets/music-6.jpg">
        </div>
        <div class="photo">
            <img src="/assets/music-7.jpg">
        </div>
        <div class="photo">
            <img src="/assets/music-8.jpg">
        </div>
        <div class="photo">
            <img src="/assets/music-9.jpg">
        </div>
        <div class="photo">
            <img src="/assets/music-10.jpg">
        </div>
        <p id="prev-btn">&#8678</a>
        <p id="next-btn">&#8680</a>
        <br>
    </section>
    <script>
        const prevBtn = document.getElementById('prev-btn');
        const nextBtn = document.getElementById('next-btn');
        let photo = document.getElementsByClassName('photo');

        prevBtn.addEventListener('click', scroll);
        nextBtn.addEventListener('click', scroll);

        let photoIdx = 1;
        showPhotos(photoIdx);

        //enable arrows
        function scroll(evt) {
            let direction = 0;
            if (evt.target.id === 'prev-btn') {
                direction = -1;
            } else if (evt.target.id === 'next-btn') {
                direction = 1;
            }
            photoIdx += direction;
            showPhotos(photoIdx);
        }

        function showPhotos(index) {
            //allow last photo -> first photo
            if (index > photo.length) {
                photoIdx = 1;
            }
            //allow first photo -> last photo
            if (index < 1) {
                photoIdx = photo.length;
            }
            //default no display
            for (let i = 0; i < photo.length; i++) {
                photo[i].style.display = "none";
            }
            //display current photo
            photo[photoIdx - 1].style.display = "block";
        }
    </script>
    <%- include('./partials/footer.ejs') %>
</body>

</html>