<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'GLVMS | About'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section>
            <h1>About the Greater Las Vegas Music Services</h1>
            <h4>&#40GLVMS&#41</h4>
        </section>
        <section class="bio">
            <p>Bio goes here</p>
        </section>
        <section class="how-to">
            <p>How use this website</p>
        </section>
        <section class="carousel">
            <p>Carousel goes here</p>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>