<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Greater Las Vegas Music Services'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="title">
        <img src="assets/keyboard.png">
        <h1>Greater Las Vegas Music Services</h1>
    </div>
    <div class="opening-statement">
        <h3>Musically serving the Las Vegas valley since 2010</h3>
        <p>&#40 901 clients and counting &#41</p>
        <nav class="home-nav">
            <a href="/about" class="non-hb">About</a>
            <a href="/opuses" class="non-hb">Repertoire List</a>
            <a href="/client-requests" class="non-hb">My Requests</a>
            <a href="#" id="hamburger"><img src="/assets/hamburger-menu.png" id="hamburger-img"><img src="/assets/white-x.png" id="white-x-img"></a>
        </nav>
    </div>
    <main>
        <section class="home-body">
            <div class="home-left">
                <img class="headshot" id="headshot" src="/assets/headshot.png" alt="headshot">
                <p>Jae Ahn-Benton, pianist & composer</p>
            </div>
            <div class="home-right">
                <div class="home-welcome">
                    <p>Welcome to the main page of the Greater Las Vegas Music Services &#40GLVMS&#41! Here you can read about my music business in Las Vegas, NV, as well as see the full list of my available repertoire which can be requested for any event of your choosing - concerts, recitals, parties, and more!</p>
                    <p>Need to make a request? Please click the below "See Repertoire List" to get started.</p>
                </div>
                <div class="home-links">
                    <a href="/about"><button class="btn">About GLVMS</button></a>
                    <a href="/opuses"><button class="btn">See Repertoire List</button></a>
                </div>
            </div>
        </section>
    </main>
    <h4>&copy; 2024 Greater Las Vegas Music Services</h4>
    <script defer>
        let hamburger = document.getElementById('hamburger');
        let nonHb = document.getElementsByClassName('non-hb');
        let hamburgerImg = document.getElementById('hamburger-img');
        let whiteXImg = document.getElementById('white-x-img');
        hamburger.addEventListener('click', () => {
            if (whiteXImg.style.display !== 'inline') {
                whiteXImg.style.display = 'inline';
                hamburgerImg.style.display = 'none';
            } else {
                whiteXImg.style.display = 'none';
                hamburgerImg.style.display = 'inline';
            }
            for (elem of nonHb) {
                console.log(elem.style.display);
                if (elem.style.display !== 'inline') {
                    elem.style.display = 'inline';
                } else if (elem.style.display === 'inline') {
                    elem.style.display = 'none';
                    // headshot.src = '/assets/hamburger-menu.png';
                }
            }
        });
    </script>
</body>
    
</html>
