<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Greater Las Vegas Music Services'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <h1>Greater Las Vegas Music Services</h1>
    <main>
        <section class="home-body">
            <div class="home-left">
                <img class="headshot" src="/assets/headshot.png" alt="headshot"> <!--upload headshot here-->
                <p>Jae Ahn-Benton, pianist & composer</p>
            </div>
            <div class="home-right">
                <div class="home-welcome">
                    <p>Welcome to the main page of the Greater Las Vegas Music Services &#40GLVMS&#41! Here you can read about my music business in Las Vegas, NV, as well as see the full list of my available repertoire which can be requested for any event of your choosing - concerts, recitals, parties, and more!</p>
                    <p>Need to make a request? Please click the below "See Repertoire List" to get started.</p>
                </div>
                <div class="home-links">
                    <a href="/about"><button class="btn">About GLVMS</button></a>
                    <a href="/opuses"><button class="btn">See Repertoire List</button></a>
                </div>
            </div>
        </section>
    </main>
    <h4>&copy; 2024 Greater Las Vegas Music Services</h4>
</body>
    
</html>
