<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Add a New Request | GLVMS'}) %>
    <link rel="stylesheet" href="/styles/client-request-new.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <h2>Add a New Request</h2>
    <form method="POST" action="/client-requests">
        <div>
            <label for="clientName">Your Name:</label>
            <input type="text" id="clientName" name="clientName" required>
        </div>
        <div>
            <label for="clientInstrument">Your Instrument:</label>
            <input type="text" id="clientInstrument" name="clientInstrument" required>
        </div>
        <div>
            <label for="eventTitle">Event Title:</label>
            <input type="text" id="eventTitle" name="eventTitle" required>
        </div>
        <div>
            <label for="eventDate">Date & Time:</label>
            <input type="date" id="eventDate" name="eventDate" required>
        </div>
        <div>
            <label for="eventLocation">Location:</label>
            <input type="text" id="eventLocation" name="eventLocation" required>
        </div>
        <div>
            <!--go to opus index page & pass boolean to later redirect back here w/ info-->
            <input type="text" id="requestedRepertoire.title" name="requestedRepertoire.0.title" required>
            <input type="text" id="requestedRepertoire.composer" name="requestedRepertoire.0.composer" required>
            <input type="text" id="requestedRepertoire.instrumentation" name="requestedRepertoire.0.instrumentation" required>
            <input type="number" id="requestedRepertoire.price" name="requestedRepertoire.0.price" required>
        </div>
        <div>
            <input type="submit" id='submit-btn' value="Submit Request">
        </div>
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
