h2 {
    text-align: center;
}

td:first-child {
    text-align: right;
}

td {
    height: 3vh;
}

input, textarea {
    border: 1px solid white;
    margin-left: 20px;
    width: 200px;
}

select {
    margin-left: 20px;
    width: 207px;
}

.submit-area {
    text-align: center;
}

.each-item {
    background-color: rgb(0, 110, 153);
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.each-item * {
    background-color: rgb(0, 110, 153);
}

#submit-btn, .submit-area a button {
    background-color: rgb(132, 86, 1);
    font-size: 16px;
    padding: 10px;
}

@media screen and (min-width: 600px) {
    input, textarea {font-size: 24px; width: 500px;}
    #submit-btn, .submit-area a button {font-size: 24px; margin: 20px; width: 200px}
    select {font-size: 24px; width: 525px;}
}