h2 {
    text-align: center;
}

td:first-child {
    text-align: right;
}

td {
    height: 3vh;
}

input, textarea {
    border: 1px solid white;
    margin-left: 20px;
    width: 200px;
}

select {
    margin-left: 20px;
    width: 207px;
}

.table-section, .submit-area {
    text-align: center;
}

.table-subsection p, .table-subsection div {
    text-align: center;
}

.table-subsection div {
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
}

#submit-btn {
    font-size: 16px;
    padding: 10px;
}