.rep-list p {
    text-align: center;
}
.each-rep {
    background-color: rgb(0, 110, 153);
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.each-rep * {
    background-color: rgb(0, 110, 153);
}

a {
    text-decoration: none;
}

.buttons {
    text-align: center;
}

.btn {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

.btn * {
    background-color: rgb(132, 86, 1);
}

@media screen and (min-width: 600px) {
    .btn {font-size: 24px}
    .client-request-details {padding: 30px;}
}