.title {
    background-color: black;
    position: relative;
}

.title h1, .title img {
    position: absolute;
}

.title img {
    opacity: 0.5;
    width: 100%;
    height: 128px;
    top: 15px;
}

.opening-statement {
    background-color: black;
    background-image: radial-gradient(rgb(112, 112, 112), black);
    padding-top: 150px;
    text-align: center;
}

.opening-statement * {
    background: none;
    font-family: "American Typewriter", serif;
    padding: 5px;
}

h1 {
    font-size: 40px;
    background: none;
    text-align: center;
}

.home-nav {
    text-align: right;
}

.home-nav a {
    margin: 5px;
}

.non-hb {
    display: none;
}

.home-nav a img {
    margin: 0 0 0 40px;
    width: 30px;
}

#white-x-img {
    display: none;
}

.home-body {
    margin: 20px;
}

.home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.home-left p {
    font-family: cursive;
}

.home-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.home-welcome {
    line-height: 2;
    padding: 10px;
    text-align: justify;
}

.home-links {
    display: flex;
    flex-direction: column;
}

.home-links a button {
    background-image: radial-gradient(rgb(112, 112, 112), black);
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    width: 175px;
}

.headshot {
    border: 3px solid rgb(215, 215, 215);
    border-radius: 10px;
    width: 150px;
}

.btn {
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(215, 215, 0);
    box-shadow: 3px 3px 5px rgb(100, 100, 0);
    color: rgb(50, 50, 50);
}

h4 {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .title img {height: 180px;}
    .title h1 {font-size: 50px; left: 15%; top: 40px;}
    .home-nav a img {width: 50px;}
    .home-nav a {margin: 20px;}
    body {font-size: 30px;}
    .headshot {width: 300px;}
    .home-links a button {font-size: 24px; width: 250px;}
}

@media screen and (min-width: 1200px) {
    .home-nav a {margin: 40px;}
    .title h1 {font-size: 50px; left: 20%; top: 40px;}
    .home-body {display: flex;}
    .home-left p {font-size: 20px;}
    .home-right {margin-top: 120px;}
}