* {
    font-family: "Optima", sans-serif;
}

.glvms-title, footer {
    text-align: center;
}

.admin-link {
    font-size: 10px;
}

.admin-link p {
    margin: 0;
}

nav {
    text-align: center;
}

nav a {
    margin: 10vw;
}

footer nav {
    margin-bottom: 50px;
}