* {
    background-color: rgb(50, 50, 50);
    color: rgb(215, 215, 215);
    font-family: "Optima", sans-serif;
}

.glvms-title, .about-title, footer {
    text-align: center;
}

.glvms-title {
    font-size: 20px;
    margin: 15px;
}

nav {
    margin: 40px 0;
    text-align: center;
}

nav a {
    margin: 7vw;
}

nav a:hover {
    color: rgb(215, 215, 0);
}

footer nav {
    font-size: 12px;
}

.admin-link {
    font-size: 10px;
}

.about-title h3, .about-title h4 {
    margin: 0;
}

.about-bio, .about-how-to {
    line-height: 1.5;
    margin: 20px;
    text-align: justify;
}