* {
    animation: fade 1s;
    background-color: rgb(13, 44, 56);
    color: rgb(215, 215, 215);
    font-family: "Optima", sans-serif;
}

h3 {
    text-align: center;
}

.glvms-title, .about-title, footer {
    text-align: center;
}

.glvms-title {
    font-size: 20px;
    margin: 15px;
}

/* nav */ 
nav {
    margin: 20px 0;
    padding-bottom: 20px;
    text-align: right;
}

footer nav {
    text-align: center;
}

.non-hb {
    display: none;
}

nav a {
    font-size: 14px;
    margin: 5px;
}

nav a:hover {
    color: rgb(215, 215, 0);
}

nav a img {
    margin: 0 0 0 40px;
    width: 30px;
}

#white-x-img {
    display: none;
}

header, footer {
    background-image: radial-gradient(rgb(112, 112, 112), black);
    background-size: cover;
    margin-bottom: 15px;
    padding-top: 5px;
}

header *, footer * {
    background: none;
}

/* footer */ 
footer nav {
    font-size: 12px;
}

.admin-link {
    font-size: 10px;
}

/* about */
.about-title h3, .about-title h4 {
    margin: 0;
}

.about-bio, .about-how-to {
    line-height: 1.5;
    margin: 20px;
    text-align: justify;
}

.carousel {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.photo {
    text-align: center;
    user-select: none;
}

.photo img {
    animation: fade 1.5s;
    border-radius: 35px;
    padding: 15px;
    height: 20vh;
    width: auto;
}

#prev-btn, #next-btn {
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: -22px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transition: 1s ease;
    user-select: none;
    width: auto;
}
#prev-btn:hover, #next-btn:hover {
    transform: scale(1.5);
}
#next-btn {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.btn {
    background-image: radial-gradient(rgb(112, 112, 112), black);
    background-color: rgb(132, 86, 1);
    border-radius: 10px;
}

.btn:hover {
    background-image: none;
    background-color: rgb(215, 215, 0);
    box-shadow: 3px 3px 5px rgb(100, 100, 0);
    color: rgb(50, 50, 50);
}

.error-body {
    text-align: center;
}

.error-img img {
    background-color: rgb(250, 163, 2);
    border: 1px solid white;
    border-radius: 10px;
    margin: 100px;
    padding: 50px;
    width: 10vh;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 100}
}

@media screen and (min-width: 600px) {
    nav a img {width: 50px;}
    nav a {margin: 40px;}
    .glvms-title, nav a {font-size: 30px;}
    .admin-link {font-size: 20px}
    body {font-size: 30px;}
    #prev-btn, #next-btn {font-size: 30px;}
    .carousel {max-width: 1000px}
    .photo img {height: 30vh; padding-bottom: 50px;}
}

@media screen and (min-width: 1200px) {
    nav a {margin: 50px;}
    body {margin: 100px;}
    .photo img {height: 60vh;}
}