h2 {
    text-align: center;
}

form {
    margin: 20px;
}

.opus-newform-title, .opus-newform-composer, .opus-newform-price, .opus-newform-description {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 70%;
}

.opus-newform-title input, .opus-newform-composer input, .opus-newform-price input, .opus-newform-description textarea, #opus-newform-movements div input {
    border: 1px solid white;
    width: 150px;
}

.opus-newform-instrumentation div {
    margin: 20px 0;
    columns: 2;
}

.opus-newform-instrumentation, .instrumentation {
    margin: 50px 0;
}

.checkbox {
    margin-left: 20px;
}

.opus-newform-price span {
    padding-left: 30px;
}

.opus-newform-price input {
    margin-left: 0;
}

#opus-newform-movements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opus-newform-movements div {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    width: 70%;
}

.opus-newform-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#add-movement-btn, #submit-btn {
    background-image: radial-gradient(rgb(112, 112, 112), black);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

#add-movement-btn:hover, #submit-btn:hover {
    background-image: none;
    background-color: rgb(215, 215, 0);
    box-shadow: 3px 3px 5px rgb(100, 100, 0);
    color: rgb(50, 50, 50);
}

@media screen and (min-width: 600px) {
    #add-movement-btn, #submit-btn {font-size: 24px; margin: 20px;}
    .opus-newform-title input, .opus-newform-composer input, .opus-newform-price input, .opus-newform-description textarea, #opus-newform-movements div input {font-size: 24px; width: 400px;}
    .opus-newform-price span {padding-left: 100px;}
    #opus-newform-movements div {padding-bottom: 30px;}
}