.opus-index-title {
    text-align: center;
}

.filters-top {
    text-align: center;
}

.filters-top div {
    margin: 10px;
}

.filters-bottom {
    margin: 20px;
    text-align: center;
}

select {
    font-size: 16px;
}

main {
    margin: 50px 0 75px;
}

.each-opus {
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.each-opus, .each-opus * {
    background-color: rgb(0, 110, 153);
}

.opus-upper {
    display: flex;
    justify-content: space-between;
}

.opus-upper form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.opus-link {
    text-decoration: none;
    width: 95%;
}

.opus-link:hover {
    color: rgb(215, 215, 0);
    text-decoration: underline;
}

.opus-link div {
    text-align: left;
}

.opus-middle {
    text-align: center;
}

.opus-lower {
    padding: 10px;
}

.each-movement {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 30px;
    padding: 20px;
}

.movement-title {
    padding: 5px;
    width: 80%;
}

.movement-price {
    width: 20%;
}

.opus-lower {
    display: none;
}

.cart {
    background-color: rgb(52, 194, 250);
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px 12px 10px 6px;
    width: 30px;
}

.btn, .movements-button {
    background-color: rgb(132, 86, 1);
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
}

.btn:hover, .cart:hover, .movements-button:hover {
    background-color: rgb(215, 215, 0);
    box-shadow: 3px 3px 5px rgb(100, 100, 0);
    color: rgb(50, 50, 50);
}