h2 {
    text-align: center;
}

input, textarea {
    border: 1px solid white;
}

table {
    margin: 20px 0;
    width: 100%;
}

td {
    padding: 10px;
}

td:first-child {
    text-align: right;
}

td:last-child {
    padding-left: 20px;
}

div {
    text-align: center;
}

#movements, #opus-edit-movements p {
    text-align: center;
}

.each-movement {
    margin: 10px;
}

.each-movement label, #additional-movements div label {
    margin-left: 20px;
}

#additional-movements div {
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
}

#additional-movements div input {
    width: 100px;
}

#submit-btn, #add-movement-btn {
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
}

#submit-btn:hover {
    background-color: rgb(215, 215, 0);
    box-shadow: 3px 3px 5px rgb(100, 100, 0);
    color: rgb(50, 50, 50);
}